.site-footer {
    background-color:$blue;
    color: #fff;
    text-align:center;
    font-weight: 300;
    padding: .5em 0;

    &__text {
        display: block;
        margin-bottom: .5em;

        @mixin atSmall {
            display:inline-block;
            margin-right: .8em;
            margin-bottom: 0;
        }
    }
}